body{
    background-color: lightyellow;
}


nav {
    width: 30rem;
    height: 20vh;
    background-color: lightskyblue;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
img{
    width: 20rem;
    height: 20rem;
    object-fit: cover;
}
.galeria {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    padding: 1rem;
}

.galeria img {
    width: 100%;
    height: auto;
}
